/*------------------------------*/
/*        Basic SETUP           */
/*------------------------------*/
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-color:#FFF;
    color:#000;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 20px;
}
/*------------------------------*/
/*        Resuable SETUP           */
/*------------------------------*/
.row{
    max-width:1140px;
    margin:0 auto;
}
section{
    padding: 70px 0;
}
/*------- Header -------*/
header{
    background-image: linear-gradient(rgba(0, 0, 0,0.6),rgb(0,0,0,.6)), url(../images/background-image.jpg);
    height: 100vh;
    margin: 0;
    background-size: cover;
    background-position: center;
}
.hero-text-box{
    position: absolute;
    width: 1140px;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);    
}
/*------- Heading -------*/

h1,h2,h3{
    font-weight: 300%;
    text-transform: uppercase;
    letter-spacing: 1px;

}
h1{
    margin: 0 0 20px 0;
    color:#FFF;
    font-size: 240%;
    word-spacing: 4px;
}
h2{
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
}
h2:after{
    display: block;
    height: 2px;
    background-color: #f56506;
    content: "";
    width: 200px;
    margin:30px  auto  0;
}
.long-copy{
    line-height: 145%;
    width: 70%;
    margin-left: 15%;
}
.box{
    padding: 1%;
}
h3{
    font-size: 110%;
    margin-bottom: 15px;
    letter-spacing: 0px;
}

.box p{
    font-size: 90%;
    line-height: 145%;
}

/*------- Button -------*/
.btn:link,.btn  :visited,input[type="submit"]{
    display:inline-block;
    padding:10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    transition: background-color 0.2s, border  0.2s,color 0.2s ;
}
.btn-full:link,.btn-full:visited,input[type="submit"]{
    background-color: #d35400;
    border: 1px solid #d35400;
    color: #fff;
}
.btn-ghost:link,.btn-ghost:visited{
    border: 1px solid #d35400;
    color: #f56506;
    margin-right: 15px;
}
.btn:hover,.btn:active{
    background-color: #f56506;
}
.btn-full:hover,.btn-full:active{
    background-color: #d35400;
    border: 1px solid #d35400;
    color:#ecf0f1;
}
.btn-ghost:hover,.btn-ghost:active{
    border: 1px solid #d35400;
    color:#ecf0f1;
}
.logo{
    height: 80px;
    width: auto;
    float: left;
}
.main-nav{
    float:right;
    list-style: none;
    margin-top: 30px;
}
.main-nav li{
    display: inline-block;
    margin-left: 40px;
}
.main-nav li a:visited,
.main-nav li a:link{
    color:#fff;
    text-decoration:none;
    text-transform: capitalize;
    font-size: 90%;   
    border-bottom: 1px solid transparent; 
    transition: border-bottom 0.2s  ;
}
.main-nav li a:active,.main-nav li a:hover{
    border-bottom: 2px solid #d35400;
}

.section-meals{
    padding: 0;
}

.meals-showcase{
    list-style:none;
    width: 100%;
}
.meals-showcase li{
    display: block;
    float: left;
    width: 25%;
}

.meal-photo{
    width: 100%;
    margin: 0;
    overflow: hidden;
    background: #000;
}
.meal-photo img{
    width: 100%;
    height: auto;
    transform: scale(1.15);
    transition: transform 0.3s, opacity 0.3s;
    opacity: 0.7;
}
.meal-photo img:hover{
    transform: scale(1.04);
    opacity: 1;
}

.clear-fix{
 zoom: 1;   
}
.clear-fix:after{
    clear: both;
    display: block;
    content: ".";
    height: 0;
    visibility: hidden;
}

.section-steps{
    background-color: #f4f4f4;
}
.works-box:first-child{
    text-align: right;
    padding-right: 3%;
    margin-top: 30px;
}
.works-box:last-child{
    padding-left: 3%;
    margin-top: 70px;
}
.app-screen{
    width: 40%;
}
.works-step{
    margin-bottom: 50px;
}
.works-step:last-of-type{
    margin-bottom: 80px;
}
.works-step div{
    color: #f56506;
    border:  2px solid #f56506;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    text-align: center;
    padding: 5px;
    float: left;
    font-size: 150%;
    margin-right: 25px;
}
.btn-app img{
    height: 50px;
    width: auto;
    margin-right: 10px;
}

[class^="small-icons"]:before, [class*=" small-icons"]:before,
[class^="small-icons"]:after, [class*=" small-icons"]:after{
    font-size: 30px !important;
    color:orangered;
    display: inline-block;
    margin-right: 15px;
    line-height: 120%;
}

.box img{
    width: 100%;
    height: auto;
    margin-bottom: 15px;
}
.city-feature{
    margin-bottom: 5px;
}
.sectihon-testimonials{
    background-image:  linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)), url(../images/back-customers.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color:#fff;
}
blockquote{
    padding: 2%;
    font-style: italic;
    line-height: 145%;
    position: relative;
}
blockquote:before{
    content: "\201c";
    font-size: 400%;
    display: block;
    position: absolute;
    top : 0px;
    left:0px;
}

cite{
    font-size: 90%;
    margin-top:25px;
    display: block;
}

cite img{
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
    vertical-align: middle;
}
.section-plans{
    background-color: #f4f4f4;
}
.plan-box{
    background-color: #fff;
    border-radius: 5px;
    width: 90%;
    margin-right: 5%;
    box-shadow: 0 2px 2px gray;
}
.plan-box div{
    padding: 15px;
    border-bottom: 1px solid gray;
}
.plan-price{
    margin-bottom: 10px;
    color:#f56506;
    
}
.plan-price span{
    font-size: 300%;
}

.plan-box ul{
    list-style: none;
}
.plan-box ul li{
    padding: 5px;
}

.plan-box div:last-child{
    text-align: center;
    border: 0;
}
.plan-box div:first-child{
    background-color: gainsboro;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.contact-form{
    width: 60%;
    margin : 0 auto;
}

input[type="text"],input[type="email"],select,textarea{
    width: 100%;
    padding: 7px;
    border-radius: 5px;
    border: 1px solid #ccc;

}
input[type="checkbox"]{
    margin: 10px 5px 10px 0;
}

*:focus{
    outline: none;
}

footer{
    background-color: #333;
    padding: 20px;
}
.footer-nav{
    list-style: none;
    float: left;
}
.social-icons{
    list-style: none;
    float: right;
}
.footer-nav li,.social-icons li{
    display: inline-block;   
    margin-right: 20px;;
}

.footer-nav li:last-child,.social-icons li:last-child{
    margin-right: 0;
}
.footer-nav li a:link,.footer-nav li a:visited,
.social-icons li a:link,.social-icons li a:visited{
    text-decoration: none;
    border: 0;
    color :#888;
}
.footer-nav li a:hover,.footer-nav li a:active{
    color:#ddd;
}
footer p{
    color:#888;
    text-align: center;
    margin-top: 25px;
}